# Verification status

Verification status for a partner user.

{% openapi src="<https://openapi.gitbook.com/o/e0uEDf9W74izxMHzVmef/spec/unigox-api.yaml>" path="/api/v1/partner/users/{id}/verification-status" method="get" %}
<https://openapi.gitbook.com/o/e0uEDf9W74izxMHzVmef/spec/unigox-api.yaml>
{% endopenapi %}
